/*---------
   common
----------- */
body {

    font-family: 'Titillium Web', sans-serif;
    background-color: white;

}

/*----------
   header 
------------*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    border-radius: 20px;


}



header a {
    text-decoration: none;
    color: white;
    background-color: coral;
    background-image: linear-gradient(coral, red);
    border-radius: 20px;
    padding: 10px;



}


/*------------
     main 
 ------------*/
main {
    display: flex;
    flex-wrap: wrap;
    margin: 7%;
}


/* sideber */
.sideber {
    background-color: black;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: xx-large;
    width: 250px;

}

.sideber a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-weight: 700;

}

.sideber-title {
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    font-size: xx-large;

}

.sideber-button {
    background-image: linear-gradient(coral, red);
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    transition: width 3s ease 1s, height 3s ease 1s, transform 1s;
}

.sideber-button:hover {
    transform: translate(100%)
}







/* blogs */
.blogs {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 2.5%;
    justify-content: center;
    justify-items: center;
}

.blog {
    width: 250px;
    height: 300px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 3%;
    background-color: rgb(250, 244, 232);
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px darkgray);
    border-left: black 1px solid;

}

.blog .thumbnail img {
    width: 250px;
    height: 150px;

}

.blog-info {
    margin: 2%;
}

.blog-title {
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    font-weight: 600;
}

.fa-clock {
    margin-left: 5%;
}

.fa-comment-dots {
    margin-left: 5%;
}

/* Upcoming Match */
.matchs {
    display: flex;
    flex-wrap: wrap;

}

.match {
    width: 250px;
    height: 177px;
    padding-bottom: 10px;
    margin: 15px;
    background-color: rgb(250, 244, 232);
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px darkgray);
    border-left: black 1px solid;

}



.flag {
    display: flex;
    justify-content: center;
    margin-top: 20%;

}

.match img {
    width: 80px;
}

.vs {
    margin: 2%;
}

.match-text {
    text-align: center;
}

/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    color: white;
    height: 20vw;
    padding-top: 5%;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 1%;
}

.margin {
    width: 60%;
}

.footer-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: small;
}

/* Media queries */
/* mobile devices */
@media only screen and (max-width:688px) {

    header,
    main,
    footer {
        width: 200%;
    }

    footer {
        height: 50vw;
    }

    .sideber {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: 0;
        font-size: 5vw;

    }

    .sideber-title,
    .sideber-button {
        font-size: xx-large;
    }
}

/* tablet devices */
@media only screen and (min-width:689px) and (max-width:992px) {
    footer {
        height: 50vw;
    }
}